{% import "macros/footer.html.twig" as footer %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/menu-toggle.js"></script>
</head>
<body>
<div class="overlay js-menu-toggle"></div>
<nav class="nav">
  <nav class="nav--inner">
    <a href="/" class="logo" title="Grundsalg Aarhus" aria-label="Grundsalg Aarhus"></a>
    <div class="nav--links">
      <a href="/villagrund/" class="nav--link">Villagrund</a>
      <a href="/erhvervsgrund/" class="nav--link">Erhvervsgrund</a>
      <a href="/storparcel/" class="nav--link">Storparcel</a>
      <a href="/kontakt/" class="nav--link">Kontakt</a>
    </div>
  </div>
</nav>
<!--menu.html.twig END-->
<div class="nav-toggle js-menu-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<!--menu.html.twig START-->
<nav class="hamburger-menu">
  <div class="hamburger-menu--inner">
    <div class="hamburger-menu--links">
      <div class="hamburger-menu--group">
        <a href="/villagrund/" class="nav--link">
          Villagrund
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/erhverv/" class="nav--link">
          Erhvervsgrund
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/storparcel/" class="nav--link">
          Storparcel
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/projekter/" class="nav--link">
          Projekter
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/nyheder/" class="nav--link">
          Nyheder
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/tilbudogkob/" class="nav--link">
          Tilbud og køb
        </a>
      </div>
      <div class="hamburger-menu--group">
        <a href="/kontakt/" class="nav--link">
          Kontakt
        </a>
      </div>
    </div>
  </div>
</nav>
<!--menu.html.twig END-->
<div id="content">{% block content %}{% endblock %}</div>
{{ footer.footer() }}
</body>
</html>