{% macro box(type, image, header, description) %}
<article class="boxes--box {{ type }}">
  <a href="#"><img src="{{ image }}" width="380" height="130" alt=""></a>
  <div class="boxes--box-inner">
    <h2 class="boxes--box-header"><a href="#">{{ header }}</a></h2>
    <p class="boxes--box-content">{{ description }}</p>
  </div>
</article>
{% endmacro %}
