{% macro box(type, image, header, description) %}

{% import "macros/links.html.twig" as link %}

<article class="boxes--box {{ type }}">
  <div class="boxes--box-inner">
    <h2 class="boxes--box-header"><a href="#">{{ header }}</a></h2>
    <p class="boxes--box-content">{{ description }}</p>
    {{ link.arrowLink('', type) }}
  </div>
</article>
{% endmacro %}
