{% macro arrowLink(link, class, type) %}
    {% if type == 'down' %}
        <div class="{{ class }}">{% include '/icons/link-arrow-down.svg' %}</div>
    {% else %}
        <div class="arrow-link {{ class }}">{% include '/icons/link-arrow.svg' %}</div>
    {% endif %}

{% endmacro %}