{% macro breadcrumbs(breadcrumbs, class) %}
  
  <div class="breadcrumb {{ class }}">
  <a class="breadcrumb--home" href="/">{% include '/icons/home.svg' %}<span class="breadcrumb--link is-home">Hjem</a></a><span class="breadcrumb--divider">/</span>
  {% for breadcrumb in breadcrumbs %}
    <a class="breadcrumb--link" href="/{{ breadcrumb.link }}/" title="{{ breadcrumb.title }}" class="header-subpage--title-link">
      {{ breadcrumb.title }}
    </a><span class="breadcrumb--divider">/</span>
  {% endfor %}
  </div>

{% endmacro %}