{% macro filterCheckbox(title, class) %}

  <input class="filters--checkbox-input {{ class }}" id="{{ title }}" type="checkbox">
  <label class="filters--checkbox-label" for="{{ title }}">{{ title }}</label>

{% endmacro %}