{% macro mapFilters() %}

  {% import "macros/checkbox.html.twig" as checkbox %}

  <div class="map--legend">
    <p class="map--legend-item is-offering">I udbud</p>
    <p class="map--legend-item is-available">Ledig</p>
    <p class="map--legend-item is-reserved">Reserveret</p>
    <p class="map--legend-item is-sold">Solgt</p>
    <p class="map--legend-item is-future">Fremtidig</p>
  </div>

{% endmacro %}