{% macro footer() %}
  
<footer class="footer">
  <div class="footer--content">
    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Kontakt</h3>
        <p class="footer--text">Grundsalg</p>
        <p class="footer--text">Bolig og projektudvikling</p>
        <p class="footer--text">Kalkværksvej 10</p>
        <p class="footer--text">8000 Aarhus C</p>
      </div>
    </div>

    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Praktisk</h3>
        <a class="footer--link" href="#">Nyttige oplysninger</a>
        <a class="footer--link" href="#">E-tinglysninger</a>
        <a class="footer--link" href="#">Kontakt os</a>
        <a class="footer--link" href="#">Nyhedsservice</a>
        <a class="footer--link" href="#">Nyheder</a>
      </div>
    </div>

    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Grunde</h3>
        <p><a class="footer--link" href="#">Alle villagrunde</a></p>
        <p><a class="footer--link" href="#">Alle storparceller</a></p>
        <p><a class="footer--link" href="#">Alle erhvervsgrunde</a></p>
        <p><a class="footer--link" href="#">Projekter</a></p>
      </div>
    </div>
  </div>
  <div class="footer--quick-links">
    <p class="footer--quick-link">Email:<a href="#">kontakt@grundsalgaarhus.dk</a></p>
    <p class="footer--quick-link">Nyhedsservice:<a href="#">Tilmeld nyhedsservice</a></p>
  </div>
</footer>

{% endmacro %}
