{% macro frontpageHeader() %}

  {% import "macros/arrow.html.twig" as arrow %}

  <header class="header">
    <div class="header--inner">
      <a class="header--large-box" href="/villagrund/" title="Villagrund">
        <div class="header--box-content is-large">
          <div class="header--box-text is-large">
            <h1 class="header--box-text-title">Villagrund</h1>
            <p class="header--box-text-caption">Den helt rigtige byggegrund nær by natur og vand.</p>
            {{ arrow.arrowLink() }}
          </div>
        </div>
      </a>
      <div class="header--small-boxes">
        <div class="header--small-box is-top">
          <a class="header--box-content is-small-top" href="/storparcel/" title="Storparcel">
            <div class="header--box-text is-small-top">
              <h2 class="header--box-text-title">Storparcel</h2>
              <p class="header--box-text-caption">Se mulighederne for at bygge på storparcelgrunde.</p>
              {{ arrow.arrowLink() }}
            </div>
          </a>
        </div>
        <div class="header--small-box is-bottom">
          <a class="header--box-content is-small-bottom" href="/erhvervsgrund/" title="Erhvervsgrund">
            <div class="header--box-text is-small-bottom">
              <h2 class="header--box-text-title">Erhvervsgrund</h2>
              <p class="header--box-text-caption">Få den helt rigtige erhvervsgrund i Aarhus og omegn.</p>
              {{ arrow.arrowLink() }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>

{% endmacro %}