{% extends "extends/base.html.twig" %}
{% import "extends/box.html.twig" as box %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% import "macros/filters.html.twig" as filters %}
{% import "macros/tabs.html.twig" as tabs %}

{% block title %}Storparcel{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}

{% block nav %}
  {{ nav.nav(null, null, 'is-storparcel', null) }}
{% endblock %}

{% block content %}

  <header class="header-subpage">
    <div class="header-subpage--inner is-storparcel">
      <div class="header-subpage--info">
        {{ breadcrumb.breadcrumbs([], 'is-storparcel') }}
        <h1 class="header-subpage--title is-storparcel">
          Storparcel
        </h1>
      </div>
    </div>
  </header>

  <div class="map">
    <div class="map--inner">
      <div id="mapid" class="map--view"></div>
      {{ filters.mapFilters() }}
    </div>
  </div>

  <div class="content-boxes">
    <div class="content-boxes--inner">
      <div class="content-box">
        <div class="content-box--inner">
          <div class="content-box--title">
            <h2 class="content-box--title-text">Storparceller i Aarhus Kommune</h2>
          </div>
          <div class="content-box--content">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var map;
    var ajaxRequest;
    var plotlist;
    var plotlayers=[];

    // set up the map
    map = new L.Map('mapid', { scrollWheelZoom: false });

    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});

    var marker = L.marker([56.235337, 10.222778]).addTo(map);
    var marker = L.marker([56.248691, 10.260544]).addTo(map);
    var marker = L.marker([56.165053, 10.130081]).addTo(map);
    var marker = L.marker([56.157406, 10.150681]).addTo(map);
    var marker = L.marker([56.149757, 10.171280]).addTo(map);
    var marker = L.marker([56.037144, 10.194626]).addTo(map);
    var marker = L.marker([56.057144, 10.124626]).addTo(map);

    map.setView(new L.LatLng(56.150660, 10.187073),11);
    map.addLayer(osm);
  </script>

{% endblock %}
