{% extends "extends/base.html.twig" %}

{% block title %}Villa{% endblock %}

{% block content %}

  <header class="header-subpage">
    <h1 class="header-subpage--title">Malling</h1>
  </header>

  <div class="filters">
    <h2 class="filters--title">Filtrér</h2>
  </div>

{% endblock %}
