/* stylelint-disable color-no-hex */

/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */

$breakpoint-lap:              481px;
$breakpoint-tablet:           720px;
$breakpoint-desk:             1024px;
$breakpoint-bigscreen:        1500px;


/* Z-index (inspired by https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/)
   ================================================================================================================== */

$z-index-elements: header-overlay, header, content, nav, logo, overlay, hamburger-menu, nav-toggle;


/* Layout
   ================================================================================================================== */

$layout-padding:  1.8em;
$header-underline: 3px solid;


/* Colors
   ================================================================================================================== */

$theme-color:            #444;
$theme-color-secondary:  #e30613;
$theme-color-erhverv :   #409CDA;
$theme-color-villa:      #F5C400;
$theme-color-storparcel: #4E9D2D;    

$black:            #1A1919;
$white:            #fff;

$gray-lightest:    lighten($black, 87%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

$link-color:       $theme-color;
$link-color-hover: darken($link-color, 25%);

$error-color:      #ffbaba;


/* Typography
   ================================================================================================================== */

$font-family:      "Open Sans", Arial, sans-serif;
$font:             1em/1.5 $font-family;


