/* stylelint-disable color-no-hex */

/**
 *
 * Variables
 *
 */

/* Breakpoints
   ================================================================================================================== */

$breakpoint-lap: 481px;
$breakpoint-tablet: 720px;
$breakpoint-desk: 1024px;
$breakpoint-largedesk: 1350px;
$breakpoint-bigscreen: 2000px;
$breakpoint-threshold: 60px;

/* Z-index (inspired by https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/)
   ================================================================================================================== */

$z-index-elements: map, map-legend, map-popup, header-overlay, header, content,
  nav, logo, overlay, hamburger-menu, nav-toggle;

/* Layout
   ================================================================================================================== */

$layout-spacing-tiny: 5px;
$layout-spacing-small: 10px;
$layout-spacing: 20px;
$layout-spacing-medium: 40px;
$layout-spacing-large: 60px;

$header-underline: 3px solid;

/* Colors
   ================================================================================================================== */
$theme-color: #1a1919;
$theme-color-secondary: #e30613;
$theme-color-erhverv: #3661d8;
$theme-color-villa: #fee13d;
$theme-color-storparcel: #008850;

$black: #1a1919;
$white: #fff;

$gray-lightest: lighten($black, 85%);
$gray-lighter: lighten($black, 80%);
$gray-light: lighten($black, 70%);
$gray: lighten($black, 60%);
$gray-dark: lighten($black, 50%);
$gray-darker: lighten($black, 40%);
$gray-darkest: lighten($black, 30%);

$link-color: $theme-color;
$link-color-hover: darken($link-color, 25%);

$error-color: #ffbaba;

// Filters
$color-available: #008850;
$color-reserved: #fee13d;
$color-sold: #e30613;
$color-future: #3661d8;
$color-offering: #9fb6c9;
$color-forrest: #7c4088;
$color-activities: #f5a623;
$color-daycare: #16a085;
$color-schools: #34495e;

$message-color: #f1f1f1;
$message-info-color: #dff2bf;
$message-warning-color: #feefb3;
$message-error-color: #ffbaba;

/* Typography
   ================================================================================================================== */

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-family: "Open Sans", Arial, sans-serif;
$font: 1em/1.5 $font-family;
