{% extends "extends/base.html.twig" %}

{% block title %}Forside{% endblock %}
{% block content %}
  <div class="itk-boxlist">
    <article class="itk-boxlist--item">
      <a href="#"><img src="https://unsplash.it/380/129?random" width="380" height="130" alt=""></a>
      <div class="itk-boxlist--item-inner">
        <h2 class="itk-boxlist--header"><a href="#">Header</a></h2>
        <p class="itk-boxlist--content">Description</p>
      </div>
    </article>
    <article class="itk-boxlist--item">
      <a href="#"><img src="https://unsplash.it/380/130?random" width="380" height="130" alt=""></a>
      <div class="itk-boxlist--item-inner">
        <h2 class="itk-boxlist--header"><a href="#">Header</a></h2>
        <p class="itk-boxlist--content">Description</p>
      </div>
    </article>
    <article class="itk-boxlist--item">
      <a href="#"><img src="https://unsplash.it/380/131?random" width="380" height="130" alt=""></a>
      <div class="itk-boxlist--item-inner">
        <h2 class="itk-boxlist--header"><a href="#">Header</a></h2>
        <p class="itk-boxlist--content">Description</p>
      </div>
    </article>
  </div>
{% endblock %}