/**
 *
 * Box
 *
 */


/* Styles
   ========================================================================== */

$boxes-spacing: 30px;

.boxes {
  margin-bottom: $layout-spacing;
  margin-left: $boxes-spacing;
  margin-right: $boxes-spacing;
  margin-top: $layout-spacing;

  // Sometimes the boxes needs to be separated from the previous content (e.g. on the frontpage)
  &.has-spacing {
    margin-top: $layout-spacing-large;
  }

  &.has-no-spacing {
    margin-top: 0;
  }

  &--inner {
    display: flex;
    flex-flow: row wrap;

    @include breakpoint($breakpoint-desk) {
      margin-left: -$layout-spacing;
      margin-right: -$layout-spacing;
    }

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      max-width: $breakpoint-bigscreen;
    }
  }

  &.is-storparcel,
  .is-erhverv {
    color: $white;

    .boxes--box-header {
      a {
        @include strip-link-styles($white);
      }
    }
  }

  &--box {
    background-color: $gray-lighter;
    box-sizing: border-box;
    color: $black;
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;

    &:hover, &:focus, &:active {
      .arrow-link {
        margin-left: $layout-spacing-tiny;
        transition: all .4s ease;
      }
    }

    &.has-no-top-spacing {
      @include breakpoint($breakpoint-desk) {
        margin-top: 0;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    &.is-villa {
      background-color: $theme-color-villa;
    }

    &.is-erhverv {
      background-color: $theme-color-erhverv;
    }

    &.is-storparcel {
      background-color: $theme-color-storparcel;
    }

    @include breakpoint($breakpoint-desk) {
      // It seems there are some rounding issues (at least in Chrome) that is why we multiply with 2.035.
      // Not pretty but necessary.
      flex-basis: calc(33.3333% - #{$layout-spacing-small * 2.035});
      margin: $layout-spacing-small;
    }

    &:not(:first-child) {
      margin-top: $layout-spacing-small;
    }

    &.is-inside-context-box {
      background-color: $white;
      color: $black;

      &.is-villa {
        border-top: 3px solid $theme-color-villa;
      }

      &.is-storparcel {
        border-top: 3px solid $theme-color-storparcel;
      }

      &.is-erhverv {
        border-top: 3px solid $theme-color-erhverv;
      }

      &.is-available {
        border-top: 6px solid $color-available;
      }

      &.is-offering {
        border-top: 6px solid $color-offering;
      }

      &.is-reserved {
        border-top: 6px solid $color-reserved;
      }

      &.is-sold {
        border-top: 6px solid $color-sold;
      }

      &.is-future {
        border-top: 6px solid $color-future;
      }

      .boxes--box-header {
        a {
          @include strip-link-styles($black);
          @include headline-border($black);
        }
      }
    }
  }

  &--box-inner {
    padding: $layout-spacing-medium;
  }

  &--box-header {
    flex: 0 0 auto;
    line-height: 40px;

    a {
      @include strip-link-styles($black);

      color: $black;
    }
  }

  &--box-content {
    margin-top: $layout-spacing;
  }

  &--box-plot-title {
    font-weight: 600;
  }

  &--box-plot-infos {
    margin-top: $layout-spacing;
  }

  &--box-plot-info {
    border-bottom: 1px solid $gray-lightest;
    display: flex;
    padding-bottom: $layout-spacing-small;
    padding-top: $layout-spacing-small;
  }

  &--box-plot-info-value {
    font-weight: 600;
    margin-left: auto;
  }

  &--box-plot-link {
    align-items: center;
    display: flex;
    margin-top: $layout-spacing;
  }

  &--box-plot-link-icon {
    height: 40px;
    width: 30px;
  }

  &--box-plot-link a {
    display: block;
    font-weight: 600;
    margin-left: $layout-spacing;
    text-decoration: underline;
  }
}
