/**
 *
 * Box
 *
 */


/* Styles
   ========================================================================== */

/* TODO: Make sure these variables use the shared spacings */
$box-outer-spacing: 40px;
$box-inner-spacing: 20px;
/* End TODO */

.boxes {
  /* TODO: Make this a shared rule */
  margin-left: $layout-padding;
  margin-right: $layout-padding;
  margin-top: 60px;
  /* End TODO */

  &--inner {
    display: flex;
    flex-flow: row wrap;
    /* TODO: Use variables */
    margin-left: -$box-inner-spacing;
    margin-right: -$box-inner-spacing;
    /* End TODO */

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      max-width: $breakpoint-bigscreen;
    }
  }

  &--box {
    background-color: $gray-lighter;
    box-sizing: border-box;
    color: $black;
    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    margin: $box-inner-spacing;
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      flex-basis: calc(50% - #{$box-outer-spacing});
    }

    @include breakpoint($breakpoint-desk) {
      flex-basis: calc(33.333% - #{$box-outer-spacing});
    }

    &.is-inside-context-box {
      background-color: $white;
      border-top: 3px solid $theme-color-villa;
    }
  }

  &--box-inner {
    padding: $box-outer-spacing;
  }

  &--box-header {
    flex: 0 0 auto;
    line-height: 40px;

    a {
      @include strip-link-styles($black);

      /* TODO: Make this a reusable style */
      border-bottom: $header-underline $black;
      padding-bottom: 3px;
      /* End TODO */
    }
  }

  &--box-content {
    /* TODO: Use variables */
    margin-top: 20px;
    /* End TODO */
  }

  .is-storparcel,
  .is-erhverv {
    color: $white;

    .boxes--box-header {
      a {
        @include strip-link-styles($white);

        border-bottom: $header-underline $white;
      }
    }
  }

  .is-villa {
    background-color: $theme-color-villa;
  }

  .is-erhverv {
    background-color: $theme-color-erhverv;
  }

  .is-storparcel {
    background-color: $theme-color-storparcel;
  }
}
