/**
 *
 * Breadcrumb
 *
 */


/* Styles
   ========================================================================== */

.breadcrumb {
  align-self: flex-start;
  color: $white;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: $layout-spacing-tiny;
  padding-left: $layout-spacing;

  .breadcrumb--home-svg {
    fill: $white;
  }

  .breadcrumb--divider {
    color: $white;
  }

  .breadcrumb--link {
    color: $white;
    font-weight: 600;

    &.is-home {
      margin-left: 8px;
    }
  }

  &.is-villa {
    .breadcrumb--home-svg {
      fill: $black;
    }

    .breadcrumb--home-text {
      color: $black;
    }

    .breadcrumb--divider {
      color: $black;
    }

    .breadcrumb--link {
      color: $black;
      font-weight: 600;
    }
  }

  &.is-storparcel {
    .breadcrumb--home-svg {
      fill: $white;
    }
  }

  &.is-erhverv {
    .breadcrumb--home-svg {
      fill: $white;
    }
  }

  &--link, &--link:visited {
    color: $white;
    font-weight: 400;
  }

  &--link:hover {
    color: $white;
    text-decoration: underline;
  }

  &--home {
    padding-right: 6px;

    svg {
      height: 11px;
      width: 10px;
    }
  }

  &--divider {
    opacity: .85;
    padding-left: 3px;
    padding-right: 3px;
  }
}