.content-box {
  /* TODO: Make this a shared rule */
  margin-bottom: 300px;
  margin-top: 60px;
  padding-bottom: 30px;
  /* End TODO */

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-bigscreen;
  }

  &--inner {
    background-color: $gray-lightest;
    display: flex;
    flex-flow: row wrap;
    margin-left: $layout-padding;
    margin-right: $layout-padding;
  }

  &--title {
    background-color: $gray-lightest;
    margin-left: $layout-padding;
    margin-right: $layout-padding;
    padding-right: 20px;
  }

  &--title-text {
    background-color: $black;
    color: $white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-transform: uppercase;
  }
}
