/**
 *
 * Content box
 *
 */


/* Styles
   ========================================================================== */

.content-boxes {
  @include breakpoint($breakpoint-desk) {
    margin-top: $layout-spacing;
  }

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-bigscreen;
  }

  &.has-spacing {
    margin-top: $layout-spacing;
  }

  &--inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: $layout-spacing;
    margin-right: $layout-spacing;
  }
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: $layout-spacing;
  width: 100%;

  &.is-alpha {
    margin-top: 0;

    @include breakpoint($breakpoint-desk) {
      flex-basis: 66.66%;
      margin-top: $layout-spacing;

      .content-box--inner {
        margin-right: $layout-spacing;
      }
    }
  }

  &.is-beta {
    @include breakpoint($breakpoint-desk) {
      flex-basis: 33.33%;
    }
  }

  &--inner {
    background-color: $gray-lightest;
    width: 100%;
  }

  &--content {
    color: $black;

    &.has-spacing {
      padding-bottom: $layout-spacing-medium;
      padding-left: $layout-spacing-medium;
      padding-right: $layout-spacing-medium;
      padding-top: $layout-spacing-medium;
    }
  }

  &--title {
    background-color: $gray-lightest;
  }

  &--title-text {
    background-color: $black;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: $layout-spacing;
    padding-left: $layout-spacing;
    padding-right: $layout-spacing;
    padding-top: $layout-spacing;
    text-transform: uppercase;
  }

  &--link-with-icons {
    color: $black;
    font-weight: 600;
    list-style: none;
    text-decoration: underline;
  }

  &--link-with-icon {
    align-items: center;
    display: flex;
    margin-bottom: $layout-spacing;

    svg {
      width: 30px;
    }
  }

  &--link-with-icon-text {
    padding-left: $layout-spacing;
  }

  &--show-more {
    display: flex;
    justify-content: center;
    margin-bottom: $layout-spacing-medium;
  }

  &--show-more-title a {
    border-bottom: 3px solid $black;
    color: $black;
    font-weight: 600;
    padding-bottom: $layout-spacing-tiny;
  }

  &--show-more-arrow {
    margin-left: $layout-spacing-small;
    margin-top: 2px;
    width: 15px;
  }
}
