.cookies { 
  background: $white;
  border-top: 1px solid $gray-light; 
  bottom: 0;
  color: $black;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;

  a {
    color: $theme-color-erhverv;
    text-decoration: underline;
  }
}

.cookies--inner {
  padding: 1em;

  text-align: center;

  @include breakpoint($breakpoint-lap) {
    line-height: 1.5em;
  }
}

.cookies--text {
  display: inline-block;
  margin-bottom: .5em;
  margin-right: .5em;
}

.cookieterms--button {
  background: $black;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
}