 .header {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 1450px;
    padding-left: $layout-padding;
    padding-right: $layout-padding;

    &--large-box {
        background-image: url("../../assets/forside_villa.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }

    &--box-content {
        background-color: $white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 50%;

        &.is-primary {
        background-color: $theme-color-villa;   
        }

        &.is-secondary {
            background-color: $white;
        }
    }

    /* TODO-START: Make this into a mixin */
    &--box-content-large {
        &:after {
            border-bottom: 20px solid transparent;
            border-left: 20px solid $theme-color-villa;
            border-top: 20px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            right: -20px;
            width: 0;  
        }  
    }

    &--box-content-small-top {

        &:after {
            border-bottom: 20px solid transparent;
            border-left: 20px solid $white;
            border-top: 20px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            right: -20px;
            width: 0; 
        }  
    }

    &--box-content-small-bottom {
        &:after {
            border-bottom: 20px solid transparent;
            border-right: 20px solid $white;
            border-top: 20px solid transparent;
            content: "";
            height: 0;
            left: -20px;
            position: absolute;
            width: 0;  
        }  
    }
    /* TODO-END */

    &--large-box-text {
        color: $black;
    }

    &--small-boxes {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &--box-text {
        padding: 60px;
    }

    &--box-text-title {
        border-bottom: 3px solid $black;
        display: inline;
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 3px;
    }

    &--box-text-caption {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 24px;
    }

    &--small-box-text {
        color: $black;
    }

    &--small-box-top {
        background-image: url("../../assets/forside_storparcel.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
        height: 50%;
    }

    &--small-box-bottom {
        background-image: url("../../assets/forside_erhverv.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;
        display: flex;
        height: 50%;
        justify-content: flex-end;
    }
}