.header-subpage {
  background-color: $gray-lightest;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin-left: $layout-padding;
  margin-right: $layout-padding;
  padding-bottom: $layout-padding;
  padding-top: $layout-padding;

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-bigscreen;
  }

  &--title {
    align-self: flex-start;
    background-color: $theme-color-villa;
    color: $black;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
  }
  
  &--title-link {
    @include strip-link-styles($gray-darkest);

    &:hover {
      text-decoration: underline;
    }
  }
}