.header-subpage {
  align-items: center;
  background-color: $gray-lightest;
  display: flex;
  height: 100px;
  margin-left: $layout-padding;
  margin-right: $layout-padding;

  &--title {
    color: $black;
    font-size: 28px;
    font-weight: 600;
    padding-left: 40px;
  }
  
  &--title-link {
    @include strip-link-styles($gray-darkest);

    &:hover {
      text-decoration: underline;
    }
  }
}