/**
 *
 * Header
 *
 */

.header {
  @include breakpoint($breakpoint-bigscreen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-bigscreen;
  }

  &--inner {
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $layout-spacing-large;
    margin-left: $layout-spacing;
    margin-right: $layout-spacing;
    padding-bottom: $layout-spacing-large;
  }

  &--item {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: $layout-spacing;

    @include breakpoint($breakpoint-tablet) {
      height: 450px;
    }

    @include breakpoint($breakpoint-desk) {
      height: 600px;
    }

    @include breakpoint($breakpoint-largedesk) {
      height: 700px;
    }

    @include breakpoint($breakpoint-bigscreen) {
      height: 800px;
    }

    &:before {
      background-position: center;
      background-size: cover;
      content: "";
      height: 50%;
      width: 100%;

      @include breakpoint($breakpoint-tablet) {
        height: 60%;
      }

      @include breakpoint($breakpoint-desk) {
        height: 60%;
      }

      @include breakpoint($breakpoint-largedesk) {
        height: 65%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint($breakpoint-tablet) {
      background-position: 50%;
      background-size: cover;
    }

    &:hover, &:focus, &:active {
      .arrow-link {
        margin-left: $layout-spacing-tiny;
        transition: all .4s ease;
      }
    }

    &.is-villa {
      &:before {
        background-image: url("../assets/forside_villa.jpg");
      }
    }

    &.is-storparcel {
      &:before {
        background-image: url("../assets/forside_storparcel.jpg");
      }
    }

    &.is-erhverv {
      &:before {
        background-image: url("../assets/forside_erhverv.jpg");
      }
    }
  }

  &--box-content {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 50%;
    width: 100%;
    z-index: 1;

    @include breakpoint($breakpoint-tablet) {
      height: 40%;
    }

    @include breakpoint($breakpoint-desk) {
      height: 40%;
    }

    @include breakpoint($breakpoint-largedesk) {
      height: 35%;
    }

    &.is-villa {
      background-color: $theme-color-villa;
    }

    &.is-storparcel {
      background-color: $theme-color-storparcel;
      color: $white;
    }

    &.is-erhverv {
      background-color: $theme-color-erhverv;
      color: $white;
    }
  }

  &--box-text {
    padding-bottom: $layout-spacing;
    padding-left: $layout-spacing-medium;
    padding-right: $layout-spacing-medium;
    padding-top: $layout-spacing;

    @include breakpoint($breakpoint-lap) {
      padding-bottom: $layout-spacing-medium;
      padding-top: $layout-spacing-medium;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-bottom: $layout-spacing-medium;
      padding-left: $layout-spacing-medium;
      padding-right: $layout-spacing-medium;
      padding-top: $layout-spacing-medium;
    }
  }

  &--box-text-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: $layout-spacing;

    @include breakpoint($breakpoint-largedesk) {
      font-size: 26px;
    }

    @include breakpoint($breakpoint-bigscreen) {
      font-size: 30px;
    }
  }

  &--box-text-caption {
    margin-top: $layout-spacing;

    @include breakpoint($breakpoint-tablet) {
      margin-top: $layout-spacing-small;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 16px;
    }

    @include breakpoint($breakpoint-largedesk) {
      font-size: 18px;
    }
  }
}