.arrow-link {
  display: block;
  padding-top: $layout-spacing;
  transition: all .3s ease-in-out;
  width: 20px;

  &.is-villa {
    .arrow-link--svg {
      fill: $black;
    }
  }

  &.is-erhverv {
    .arrow-link--svg {
      fill: $white;
    }
  }

  &.is-storparcel {
    .arrow-link--svg {
      fill: $white;
    }
  }

}