/**
 *
 * Logo.
 *
 */

.logo {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  left: $layout-spacing;
  position: relative;
  top: 31px;
  width: 260px;
  z-index: z($z-index-elements, logo);

  @include breakpoint($breakpoint-tablet) {
    height: 28px;
    top: 30px;
    width: 300px;
  }
}
