/**
 *
 * Logo.
 *
 */

.logo {
  background-image: url("../../assets/logo.svg");
  background-repeat: no-repeat;
  height: 28px;
  left: $layout-padding;
  position: absolute;
  top: 32px;
  width: 300px;
  z-index: z($z-index-elements, logo);
}
