/**
 *
 * Map.
 *
 */

.map {
  height: 75vh;
  margin-left: $layout-padding;
  margin-right: $layout-padding;
  z-index: z($z-index-elements, map);

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-bigscreen;
  }
}
