/**
 *
 * Navigation.
 *
 */

.nav {
  border-top: 3px solid $black;
  width: 100%;
  z-index: z($z-index-elements, nav);

  @include breakpoint($breakpoint-desk) {
    background-color: $white;
    display: flex;
    flex-direction: column;
  }

  &--inner {
    display: flex;
    height: 90px;
    width: 100%;

    @include breakpoint($breakpoint-bigscreen) {
      margin-left: auto;
      margin-right: auto;
      max-width: $breakpoint-bigscreen;
    }
  }

  &--links {
    display: none; // Hiding navigation on smaller screens

    @include breakpoint($breakpoint-desk) {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      height: 100%;
      justify-content: flex-end;
      margin-right: 60px;

      a {
        @include strip-link-styles($black, none);
      }
    }

    // Make sure the toggle hamburger menu element is out of the way.
    @include breakpoint($breakpoint-bigscreen + $breakpoint-threshold) {
      margin-right: $layout-spacing;
    }
  }

  /* Drupal's markup dictates that .nav--link has to be inside .nav */
  .nav--link {
    @include breakpoint($breakpoint-desk) {
      align-items: center;
      align-self: stretch;
      color: $black;
      cursor: pointer;
      display: flex;
      font-size: 1em;
      font-weight: 600;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      text-transform: uppercase;

      &.is-active,
      &.is-active:hover {
        background-color: $gray-lighter;
      }

      &.is-villa,
      &.is-erhverv,
      &.is-storparcel {
        margin-top: -3px;
      }

      &.is-villa {
        border-top: 3px solid $theme-color-villa;
      }

      &.is-erhverv {
        border-top: 3px solid $theme-color-erhverv;
      }

      &.is-storparcel {
        border-top: 3px solid $theme-color-storparcel;
      }

      &:hover {
        background-color: $gray-lightest;
      }
    }
  }
}

// hamburger menu toggle-effect

.nav-toggle {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: $layout-spacing;
  top: 33px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 32px;
  z-index: z($z-index-elements, nav-toggle);
}

.nav-toggle span {
  background: $black;
  display: block;
  height: 5px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%;
}

.nav-toggle span:nth-child(1) {
  top: 0;
}

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 11px;
}

.nav-toggle span:nth-child(4) {
  top: 22px;
}

.nav-toggle.is-open span {
  background: $black;
}

.nav-toggle.is-open span:nth-child(1) {
  left: 50%;
  top: 15px;
  width: 0%;
}

.nav-toggle.is-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.is-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-toggle.is-open span:nth-child(4) {
  left: 50%;
  top: 14px;
  width: 0%;
}
