/**
 *
 * Navigation.
 *
 */

// hamburger menu toggle-effect

.nav-toggle {
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: 2em;
  top: 1.6em;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 40px;
  z-index: z($z-index-elements, nav-toggle);

  @include breakpoint($breakpoint-desk) {
    position: fixed;
  }
}

.nav-toggle span {
  background: $white;
  display: block;
  height: 5px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%;
}

.nav-toggle span:nth-child(1) {
  top: 0px;
}

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 15px;
}

.nav-toggle span:nth-child(4) {
  top: 30px;
}

.nav-toggle.open span {
  background: $black;
}

.nav-toggle.open span:nth-child(1) {
  left: 50%;
  top: 15px;
  width: 0%;
}

.nav-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-toggle.open span:nth-child(4) {
  left: 50%;
  top: 15px;
  width: 0%;
}
