/**
 *
 * Tabs.
 *
 */


/* Styles
   ========================================================================== */

.tabs {
  align-items: center;
  display: flex;
  flex-basis: 65%;
  flex-direction: row;

  @include breakpoint($breakpoint-largedesk) {
    flex-basis: 45%;
    margin-left: auto;
  }

  &--tab {
    align-items: center;
    border-left: 1px solid $gray-light;
    border-top: 1px solid $gray-light;
    color: $black;
    cursor: pointer;
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    padding-bottom: $layout-spacing;
    padding-top: $layout-spacing;

    @include breakpoint($breakpoint-desk) {
      padding-bottom: 0;
      padding-top: 0;
    }

    &.is-villa {
      border-left: 1px solid darken($theme-color-villa, 8%);
      border-top: 1px solid darken($theme-color-villa, 8%);

      @include breakpoint($breakpoint-desk) {
        border-top: 0;
      }

      &:last-child {
        border-right: 1px solid darken($theme-color-villa, 8%);

        @include breakpoint($breakpoint-desk) {
          border-right: 0;
        }
      }
    }

    &.is-erhverv {
      border-left: 1px solid darken($theme-color-erhverv, 8%);
      border-top: 1px solid darken($theme-color-erhverv, 8%);
      color: $white;

      @include breakpoint($breakpoint-desk) {
        border-top: 0;
      }

      &:last-child {
        border-left: 1px solid darken($theme-color-erhverv, 8%);

        @include breakpoint($breakpoint-desk) {
          border-right: 0;
        }
      }
    }

    &.is-storparcel {
      border-left: 1px solid darken($theme-color-storparcel, 8%);
      border-top: 1px solid darken($theme-color-storparcel, 8%);
      color: $white;

      @include breakpoint($breakpoint-desk) {
        border-top: 0;
      }

      &:last-child {
        border-left: 1px solid darken($theme-color-storparcel, 8%);

        @include breakpoint($breakpoint-desk) {
          border-right: 0;
        }
      }
    }

    &:last-child {
      border-right: 1px solid $gray-light;

      @include breakpoint($breakpoint-desk) {
        border-right: 0;
      }
    }

    &:hover,
    &.is-active {
      background-color: $gray-lighter;

      &.is-villa {
        background-color: lighten($theme-color-villa, 10%);
      }

      &.is-erhverv {
        background-color: darken($theme-color-erhverv, 10%);
      }

      &.is-storparcel {
        background-color: darken($theme-color-storparcel, 10%);
      }
    }
  }

  &--tab-icon {
    display: none;

    @include breakpoint($breakpoint-desk) {
      display: block;
      height: 50px;
      width: 50px;
    }
  }

  &--tab-title {
    font-size: $font-size-tiny;

    @include breakpoint($breakpoint-desk) {
      font-size: $font-size-normal;
      margin-top: $layout-spacing-small;
    }
  }
}