/**
 *
 * Tabs.
 *
 */


/* Styles
   ========================================================================== */

.tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;

  &--tab {
    align-items: center;
    border-left: 1px solid $gray-light;
    color: $black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    width: 170px;

    &.is-villa {
      border-left: 1px solid darken($theme-color-villa, 8%);
    }

    &.is-erhverv {
      border-left: 1px solid darken($theme-color-erhverv, 8%);
    }

    &.is-storparcel {
      border-left: 1px solid darken($theme-color-storparcel, 8%);
    }

    &:hover,
    &.is-active {
      background-color: $gray-lighter;

      &.is-villa {
        background-color: lighten($theme-color-villa, 15%);
      }

      &.is-erhverv {
        background-color: lighten($theme-color-erhverv, 15%);
      }

      &.is-storparcel {
        background-color: lighten($theme-color-storparcel, 15%);
      }
    }
  }

  &--tab-icon {
    height: 50px;
  }

  &--tab-title {
    margin-top: $layout-spacing-small;
    opacity: .85;
  }
}